ul, li {
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.no-padding {
  padding: 0;
}

.form-control, .form-control[readonly] {
  border: none;
  background: #F5F5F5;
  box-shadow: none;

  &:focus {
    box-shadow: none;
  }
}

.panel-heading, .panel-body{
  position: relative;
  .btn-delete {
    padding: 0 3px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    background: #fff;
  }
}

.panel-body{
  padding: 6px;
}

#main{
  .col-md-3{
    &:nth-child(1){
      .panel-heading{
        background: #f8f9fa;
        input{
          color: #6c757d;
        }
      }
    }
  }
  .col-md-3{
    &:nth-child(2){
      .panel-heading{
        background: #6c757d;
      }
    }
  }
  .col-md-3{
    &:nth-child(3){
      .panel-heading{
        background: #17a2b8;
      }
    }
  }
  .col-md-3{
    &:nth-child(4){
      .panel-heading{
        background: #61bd4f;
      }
    }
  }
}
.panel-default{
  border: none;
  box-shadow: 0 8px 9px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  overflow: hidden;
}

.panel-heading{
  input{
    text-transform: uppercase;
    font-weight: 600;
    background: none !important;
    color: #fff;
  }
}

.panel-footer{
  .btn{
    width: 100%;
  }
}

.action-create {
  margin: 1em 0 2em 0;
  border-radius: 50px;
  font-size: 2rem;
}