html{
  overflow: hidden;
  height: 100%;
}

body{
  background: url(/images/bg.jpg);
  background-size: cover !important;
}

#navbar-center{
  &.navbar-default{
    background: linear-gradient(to right, #0279bc, #026aa7);
    border-color: linear-gradient(to right, #0279bc, #026aa7);
  }
  .navbar-header{
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    .navbar-brand{
      color: #fff;
    }
  }
}

#main{
  margin-top: 3.6em;
}